{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Faustina:ital,wght@0,300..800;1,300..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Faustina:ital,wght@0,300..800;1,300..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
{% include 'shared/header.html' %}

    <div class="profile">
        <div class="profile_pic">
            <input class="input_img " type="file" accept="image/png, image/jpeg">
        </div>
        <div class="info_side">
            <div class="left_profile_data">
                <div class="username_data">
                    <h3 class="profile_data_title">Username </h3>
                    <div class="data">
                        <input type="text" class="data_box" placeholder={{user.username}} disabled>
                        <img src="{% static 'images/output-onlinepngtools.png' %}" alt="" class="edit_icon">
                        <img src="{% static 'images/save.png ' %}" alt="" class="save_bt none">
                    </div>
                </div>
                <div class="Email_data">
                    <h3 class="profile_data_title">Email </h3>
                    <div class="data">
                        <input type="text" class="data_box" placeholder={{user.email}} disabled>
                           <img src="{% static 'images/output-onlinepngtools.png' %}" alt="" class="edit_icon">
                        <img src="{% static 'images/save.png ' %}" alt="" class="save_bt none">
                    </div>
                </div>
                <div class="username_data">
                    <h3 class="profile_data_title">Password </h3>
                    <input type="text" class="data_box" placeholder="*********" disabled>
                </div>
            </div>
            <div class="right_profile_data">
                <h3 class="profile_data_title">Account Status </h3>
                <input type="text" class="data_box" 
                    {% if user.is_admin %}
                    placeholder="Admin"
                    {% else %}
                    placeholder="User"
                    {% endif %}
                    disabled>
                <div class="logout">
                    <h3 class="profile_data_title"> Log Out </h3>
                    <img src="{% static 'images/output-onlinepngtools(1).png' %}"  class="logout_icon">
                </div>
                
            </div>
            
        </div>

    </div>

{% include 'shared/footer.html' %}
<script src="{% static 'js/account.js' %}"></script>
